<div id="<%= dom_id notify_manager %>">
  <p>
    <strong>Tipo:</strong>
    <%= notify_manager.tipo %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= notify_manager.manager_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= notify_manager.event_id %>
  </p>

</div>
