<h1>Editing notify manager</h1>

<%= render "form", notify_manager: @notify_manager %>

<br>

<div>
  <%= link_to "Show this notify manager", @notify_manager %> |
  <%= link_to "Back to notify managers", notify_managers_path %>
</div>
