<% if current_user %>
    <h1>Dashboard di <%= current_user.nome %>!</h1>
    <p>Benvenuto</p>

<% end %>

<!-- Bottone di logout -->
<% if current_user %>
    <%= button_to "Logout", logout_user_path, method: :delete %>
<% end %>