<div id="<%= dom_id manager %>">
  <p>
    <strong>Nome:</strong>
    <%= manager.nome %>
  </p>

  <p>
    <strong>Cognome:</strong>
    <%= manager.cognome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= manager.email %>
  </p>

</div>
