<h1>Editing event</h1>

<%= render "form", event: @event %>

<br>


<div>
  <!-- link per cancellare l'evento-->
  <%= button_to "Cancella questo evento", event_path(@event),:class => "btn btn-danger", method: :delete %>
</div>

<div class="p">
  <!--<%= link_to "Show this event", @event %> | -->
  <%= link_to "Torna alla dashboard", manager_dashboard_path ,:class => "btn btn-dark"%>
</div>
