<div id="<%= dom_id reservation %>">
  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= reservation.event_id %>
  </p>

  <p>
    <strong>Data prenotazione:</strong>
    <%= reservation.data_prenotazione %>
  </p>

</div>
