<div id="<%= dom_id notify_user %>">
  <p>
    <strong>Tipo:</strong>
    <%= notify_user.tipo %>
  </p>

  <p>
    <strong>User:</strong>
    <%= notify_user.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= notify_user.event_id %>
  </p>

</div>
