<h1>Editing notify user</h1>

<%= render "form", notify_user: @notify_user %>

<br>

<div>
  <%= link_to "Show this notify user", @notify_user %> |
  <%= link_to "Back to notify users", notify_users_path %>
</div>
